.page{
    align-items: center;
    justify-content: center;
}

.form {
    width: 100%;
    margin-left: 30;
    margin-right: 30;
}

.header {
    font-size: 25;
    text-align: center;
    color: green;
    font-weight: 600;
    margin-top: 20;
    margin-bottom: 20;
}

.input-field {
    margin-bottom: 0;
}

.input{
    font-size: 20; 
    margin-top: 20;
    margin-bottom: 0;
    margin-left: 15;
    color: black;
    font-weight: 400;
}

.input-rounded {
    margin-top: 20;
    border-width: 1;
    border-color: rgb(217,217,217);
    background-color: rgb(217,217,217);
    margin-bottom: 10;
    border-radius:10;
}

.register {
    margin-left: 70;
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(0, 123, 0);
    justify-content: right;
}

.btn-primary {
    height: 50;  
    background-color: rgb(0, 123, 0);
    font-size: 20;
    font-weight: 600;
    margin-top: 20;
    border-width: 1;
    border-color: rgb(0,213,0);
    margin-bottom: 10;
    border-radius:10;
    color: rgb(255, 255, 255);
}